.toolbar-container{
    --background: linear-gradient(180deg, #6486FF 0%, #6486FF 100%);
}

.cnh{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    width: 61%;
}