<ion-header>
  <ion-toolbar>
    <ion-title [routerLink]="['/menu']" > Voltar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <div class="cnh">

    <img src="../../assets/cnh.png" alt="">

    <div class="camp1">
      <ion-input placeholder="Murilo Tomas Gomes">Nome:</ion-input>
      <ion-input placeholder="4564.644.154">N° Identidade:</ion-input>
      <ion-input placeholder="705.658.596-89">CPF:</ion-input>
      <ion-input placeholder="25/10/1997">Data Nasc:</ion-input>
    </div>

    <div class="camp2">
      <ion-input placeholder="Pai: João pereira, Mãe: Maria Gomes">Filiação:</ion-input>
    </div>

    <div class="camp3">
    <ion-input placeholder="545452t">Cat Hab:</ion-input>
    <ion-input placeholder="154t">N° Reg:</ion-input>
    <ion-input placeholder="05/2027">Val:</ion-input>
    </div>

    <div class="cap4">
    <ion-input placeholder="Enter Input">1°Habilitação:</ion-input>
    </div>

    <ion-button color="tertiary">Fazer Upload</ion-button>


  </div>

</ion-content>
