<ion-header>
  <ion-toolbar>
    <ion-title [routerLink]="['/menu']">Voltar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="flex">
  <div class="but">
    <img src="../../assets/upload1.svg" alt="">

  </div>
  <div class="text">
  <p>Dados de Inscrição - 2020</p>


  </div>
</div>

<div class="flex">
  <div class="but">
    <img src="../../assets/upload1.svg" alt="">

  </div>
  <div class="text">
  <p>Dados de Inscrição - 2019</p>


  </div>
</div>

<div class="flex">
  <div class="but">
    <img src="../../assets/upload1.svg" alt="">

  </div>
  <div class="text">
  <p>Dados de Inscrição - 2018</p>


  </div>
</div>
</ion-content>
