.flex{
    background: #87A1FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
    margin-top: 6%;
    border-radius: 28px;
    margin-left: 2%;
}

.but{
    width: 16vw;
    height: 9vh;
    background: #6486FF;
    border-radius: 71%;
}

.text{
    margin-right: 18%;
    color: white;
}

img{
    width: 60%;
    margin-left: 16%;
    margin-top: 11%;
}