<ion-header>
  <ion-toolbar>
    <ion-title>Dados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <div class="cnh">

    <img src="../../assets/cnh.png" alt="">

    <div class="camp1">
      <ion-input placeholder="Enter Input">Nome:</ion-input>
      <ion-input placeholder="Enter Input">N° Identidade:</ion-input>
      <ion-input placeholder="Enter Input">CPF:</ion-input>
      <ion-input placeholder="Enter Input">Data Nasc:</ion-input>
    </div>

    <div class="camp2">
      <ion-input placeholder="Enter Input">Filiação:</ion-input>
    </div>

    <div class="camp3">
    <ion-input placeholder="Enter Input">Cat Hab:</ion-input>
    <ion-input placeholder="Enter Input">N° Reg:</ion-input>
    <ion-input placeholder="Enter Input">Val:</ion-input>
    </div>

    <div class="cap4">
    <ion-input placeholder="Enter Input">1°Habilitação:</ion-input>
    </div>

    <ion-button color="tertiary">Fazer Upload</ion-button>


  </div>

</ion-content>
